{% extends base_template %}

{% block title %}
{% if user.is_authenticated %}
Habit Tracker - {{ user.first_name }} {{ user.last_name }} - Login
{% else %}
Habit Tracker - Login
{% endif %}
{% endblock %}

{% block header %}<h1>Habit Tracker</h1>{% endblock %}

{% block main %}

<!-- Navbar ------------------------------------>

<nav>
    <button
        hx-get="{% url 'core:add_habit' %}"
        hx-target="#content"
        hx-swap="outerHTML"
        hx-push-url="true">
            + New habit
    </button>

    <div id="login">
        {% if user.is_authenticated %}
        <button hx-get="{% url 'core:logout' %}">Log out</button>
        {% else %}
        <button
            hx-get="{% url 'core:login' %}"
            hx-target="#login"
            hx-swap="outerHTML">
                Log in
        </button>
        {% endif %}
    </div>
</nav>

{% if user.is_authenticated %}

<!-- Today's progress -------------------------->

<section>
    <h2>Today</h2>
    <p>
        Welcome, {{ user.first_name }} {{ user.last_name }}.<br />
        Here are your habits and progress for {% now "F jS, Y" %}:
    </p>

</section>

<!-- Calendar ---------------------------------->

<section>
    <h2>Calendar</h2>
    <div class="calendar">
        {{ html_cal|safe }}
    </div>
</section>

{% endif %}

{% endblock %}