{% extends base_template %}

{% block title %}
{% if user.is_authenticated %}
Habit Tracker - {{ user.first_name }} {{ user.last_name }} - Login
{% else %}
Habit Tracker - Login
{% endif %}
{% endblock %}

{% block header %}<h1>Habit Tracker</h1>{% endblock %}

{% block main %}

{% if user.is_authenticated %}
<button hx-get="{% url 'core:logout' %}" hx-target="#main" hx-swap="outerHTML">Log out</button>
{% else %}
<button hx-get="{% url 'core:login' %}" hx-no-auto-focus>Log in</button>
{% endif %}

<section>
    <h2>Progress</h2>
    <p>
        Welcome{% if user.is_authenticated %}, {{ user.first_name }} {{ user.last_name }}{% endif %}.<br />
        Here are your habits and progress for {{ month_name }} {{ year }}:
    </p>
    <div class="calendar">
        {{ html_cal|safe }}
    </div>
</section>
{% endblock %}