{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Title -->
  <title>{% block title %}{% endblock %}</title>
  <!-- Favicon -->
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <!-- Custom stylesheet -->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <!-- Htmx -->
  <script src="https://unpkg.com/htmx.org@1.9.8"
    integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
    crossorigin="anonymous"></script>
  <!-- Htmx - enable view transitions -->
  <meta name="htmx-config" content='{"globalViewTransitions":true}'>
  <!-- Hyperscript -->
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>

<body hx-boost="true" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

  <main id="content">
    <header>
      {% block header %}<h1>Habit Tracker</h1>{% endblock %}
    </header>
    {% block main %}{% endblock %}
  </main>

</body>

</html>